# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
p.ipynb
# Virtual environment
venv/
.env
.env.*
app2.py
# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp
*.log
outputs/
temp/

# Models and large files
models/

# Streamlit cache
.streamlit/
