cohere
streamlit
yt-dlp
pydub
ffmpeg-python
transformers
torch
gtts
pyannote.audio
torchvision
torchaudio
langdetect
langchain
langgraph
openai
google-generativeai
cohere
python-dotenv
pydantic-settings
aiofiles
langchain-community
langchain-core


